openapi: 3.2.0
info:
  title: Beeceptor Mock Rules API
  description: This documentation describes the **Beeceptor Mock Server Management APIs**.
  version: 2.0.0
  x-release-status: testing
  x-internal: true
servers:
- url: https://api.beeceptor.com/api
  description: Production API Server
tags:
- name: Mock Rules
paths:
  /v2/endpoints/{endpoint}/rules:
    get:
      summary: Get all rules
      description: 'Retrieves all mock rules configured for the specified endpoint. Rules define how Beeceptor

        processes incoming HTTP requests and generates responses.


        **How Rules Work:**

        - Rules are evaluated in a **top-to-bottom order** (first match wins)

        - Each rule contains **conditions** (request matching criteria) and an **action** (response behavior)

        - When a request arrives, Beeceptor evaluates rules sequentially until the first matching rule is found

        - Once matched, the rule''s action is executed and no further rules are evaluated

        - If no rules match, Beeceptor falls back to: Local Tunnel → HTTP Proxy → OpenAPI Spec → Default 200 OK response


        **Response Format:**

        - Returns all rules (entire rule set)

        - Rules are returned in their execution order (top-to-bottom priority)'
      tags:
      - Mock Rules
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/EndpointName'
      responses:
        '200':
          description: List of rules
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RuleWithId'
              example:
                data:
                - id: 1ua4j6kb1e2
                  enabled: true
                  method: GET
                  description: my simple rule
                  conditions:
                  - type: path
                    operator: equals
                    value: /simple-rule
                  action:
                    type: mock
                    delay: 0
                    status: 200
                    headers:
                    - key: Content-Type
                      value: application/json;charset=utf-8
                    body: "{\n  \"status\": \"Awesome!\"\n}"
                    templated: false
                - id: v1ljtxmtiz
                  enabled: true
                  method: GET
                  description: my weighted rule
                  conditions:
                  - type: path
                    operator: equals
                    value: /weighted-rule
                  action:
                    type: weighted
                    responses:
                    - name: Response 1
                      weight: 50
                      delay: 0
                      status: 200
                      headers:
                      - key: Content-Type
                        value: application/json;charset=utf-8
                      body: "{\n  \"status\": \"Sucess Response!\"\n}"
                      templated: false
                    - name: Response 2
                      weight: 50
                      delay: 0
                      status: 200
                      headers:
                      - key: Content-Type
                        value: application/json;charset=utf-8
                      body: "{\n  \"status\": \"Failed response!\"\n}"
                      templated: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: getV2EndpointsByEndpointRules
      x-operation-id-source: derived
    post:
      summary: Create a new rule
      description: 'Creates a new mock rule and appends it to the **end of the rule list** (lowest priority).

        The rule will be evaluated last in the execution order.


        **Purpose:**

        A mock rule encapsulates conditions (request matching criteria) and actions (response behavior).

        Rules are the core building blocks that define how your mock server responds to incoming requests.


        **How It Works:**

        1. **Rule Structure**: Each rule consists of:

        - `enabled`: Boolean flag to activate/deactivate the rule

        - `method`: HTTP method to match (GET, POST, PUT, DELETE, etc., or ''*'' for any)

        - `conditions`: Array of 1-5 matching criteria (ALL must match for the rule to trigger)

        - `action`: The behavior to execute when conditions match (mock response, proxy, CRUD, etc.)

        - `description`: Optional human-readable label for rule management


        2. **Condition Matching (AND Logic)**:

        - All conditions in a rule must match for the rule to qualify

        - Supported condition types: equals, starts_with, contains, regex, template, header, body, body_param, state, graphql, soap_action

        - Conditions can match against request data or state store variables

        - Path conditions support regex with named groups for extracting path parameters


        3. **Rule Execution Order**:

        - Rules are evaluated **top-to-bottom** (first match wins)

        - New rules created via this API are inserted at the **bottom** (lowest priority)

        - To change priority, use the reorder endpoint or drag-and-drop in the UI

        - Once a rule matches, its action executes and no further rules are evaluated


        4. **Action Types**:

        - `mock`: Return a predefined HTTP response (static or templated)

        - `weighted`: Randomly select from multiple responses based on probability weights

        - `callout`: Forward request to external API (sync proxy or async webhook)

        - `crud`: Enable automatic CRUD operations for a resource

        - `grpc`: Mock gRPC responses (unary or streaming)


        **Limitations:**

        - Maximum 5 conditions per rule

        - For OR logic, create multiple rules with different conditions

        - Rule IDs are auto-generated and cannot be specified

        - Rules cannot be inserted at a specific position (always appended to the end)


        **Best Practices:**

        - Place specific/narrow rules at the top (higher priority)

        - Place broad/catch-all rules at the bottom (lower priority)

        - Use descriptive names in the `description` field for easier management

        - Test rule matching using the dashboard''s request history API

        - Use state conditions for stateful mock scenarios (e.g., login flows)


        **Response:**

        Returns the created rule with its auto-generated `id` field.'
      tags:
      - Mock Rules
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/EndpointName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Rule'
      responses:
        '201':
          description: Rule created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleWithId'
              example:
                id: vshn31wteh
                enabled: true
                method: GET
                description: my simple rule
                conditions:
                - type: path
                  operator: equals
                  value: /simple-rule
                action:
                  type: mock
                  delay: 0
                  status: 200
                  headers:
                  - key: Content-Type
                    value: application/json;charset=utf-8
                  body: "{\n  \"status\": \"Awesome!\"\n}"
                  templated: false
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      operationId: postV2EndpointsByEndpointRules
      x-operation-id-source: derived
    put:
      summary: Bulk replace all rules
      description: 'Atomically replaces **all existing rules** with a new set of rules. This is a destructive

        operation that completely overwrites the current rule configuration.


        **Purpose:**

        - Sync rules from version control or external systems

        - Restore rules from backup

        - Deploy rule configurations across multiple environments

        - Perform bulk rule updates without individual API calls


        **How It Works:**

        1. **Atomic Replacement**: All existing rules are deleted and replaced in a single transaction

        2. **Rule Order Preservation**: Rules are stored and executed in the order provided in the array

        3. **Validation**: All rules are validated before replacement (if any rule is invalid, the entire operation fails)


        **Validation Rules:**

        - Each rule must have valid `enabled`, `conditions`, and `action` fields

        - Conditions array must contain 1-5 items

        - All condition types must be valid (path, header, body, etc.)

        - Action type must be one of: mock, weighted, callout, crud, grpc

        - For weighted actions, response weights must sum to exactly 100


        **Limitations:**

        - Maximum rules per endpoint: 500

        - Request body size limit: 1MB


        **Use Cases:**

        - **CI/CD Integration**: Deploy rules as part of automated pipelines

        - **Environment Sync**: Copy production rules to staging/dev environments

        - **Backup/Restore**: Periodically backup rules and restore when needed

        - **Bulk Updates**: Modify multiple rules offline and push all changes at once


        **Response:**

        Returns the count of replaced rules on success.'
      tags:
      - Mock Rules
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/EndpointName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rules:
                  type: array
                  items:
                    $ref: '#/components/schemas/Rule'
      responses:
        '200':
          description: Rules replaced
          content:
            application/json:
              schema:
                type: object
                properties:
                  replaced:
                    type: integer
              example:
                replaced: 2
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: putV2EndpointsByEndpointRules
      x-operation-id-source: derived
    delete:
      summary: Delete all rules
      description: 'Permanently deletes **all mock rules** configured for the endpoint. This is a destructive

        operation that cannot be undone.


        **Purpose:**

        - Reset endpoint to default state (no custom rules)

        - Clean up before importing new rule configurations

        - Remove all mocking behavior and rely on fallback mechanisms


        **Post-Deletion Behavior:**

        After all rules are deleted, incoming requests will follow the fallback chain:

        1. **Local Tunnel**: If enabled, requests are forwarded to localhost

        2. **HTTP Proxy**: If configured, requests are proxied to the target URL

        3. **OpenAPI Spec**: If uploaded, responses are generated from the spec

        4. **Default Response**: Returns `200 OK` with a default message


        **Limitations:**

        - This operation is irreversible.

        - Does not affect other endpoint settings (CORS, rate limits, etc.)


        **Best Practices:**

        - Export/backup rules before deletion (use GET /rules endpoint)

        - Consider disabling rules instead of deleting if you may need them later

        - Verify the endpoint name before executing this operation


        **Response:**

        Returns the count of deleted rules and a success flag.'
      tags:
      - Mock Rules
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/EndpointName'
      responses:
        '200':
          description: Rules deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
                  count:
                    type: integer
              example:
                deleted: true
                count: 5
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: deleteV2EndpointsByEndpointRules
      x-operation-id-source: derived
  /v2/endpoints/{endpoint}/rules/reorder:
    post:
      summary: Reorder rules
      description: 'Reorders the existing mock rules by priority without modifying the rule content.


        **How It Works:**

        - Provide an ordered list of rule IDs in `order`

        - Rules listed in `order` are moved to the top in the exact sequence provided

        - Any rules not listed keep their relative order and are appended after the reordered block


        **Validation:**

        - All rule IDs in `order` must exist for the endpoint


        **Use Cases:**

        - Promote a rule to higher priority

        - Restore a known execution order after experiments


        **Response:**

        Returns the count of rules that were reordered.'
      tags:
      - Mock Rules
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/EndpointName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - order
              properties:
                order:
                  type: array
                  description: Ordered list of rule IDs to move to the top.
                  items:
                    type: string
            example:
              order:
              - vshn31wteh
              - 1ua4j6kb1e2
      responses:
        '200':
          description: Rules reordered
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      reordered:
                        type: integer
              example:
                data:
                  reordered: 2
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      operationId: postV2EndpointsByEndpointRulesReorder
      x-operation-id-source: derived
  /v2/endpoints/{endpoint}/rules/{ruleId}:
    get:
      summary: Get a single rule
      description: 'Retrieves the complete configuration of a specific mock rule by its unique identifier.


        **Purpose:**

        - Inspect rule details programmatically

        - Verify rule configuration after creation/update

        - Debug rule matching behavior


        **Response Format:**

        Returns the complete rule object with:

        - `id`: Unique identifier

        - `enabled`: Active status

        - `method`: HTTP method filter

        - `description`: Human-readable label

        - `conditions`: Array of matching criteria

        - `action`: Response behavior configuration


        **Use Cases:**

        - Retrieve rule details before updating

        - Verify rule configuration in automated tests'
      tags:
      - Mock Rules
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/EndpointName'
      - in: path
        name: ruleId
        required: true
        schema:
          type: string
        description: The unique identifier of the rule (auto-generated during creation).
        example: vshn31wteh
      responses:
        '200':
          description: Rule details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleWithId'
              example:
                id: vshn31wteh
                enabled: true
                method: GET
                description: my simple rule
                conditions:
                - type: path
                  operator: equals
                  value: /simple-rule
                action:
                  type: mock
                  delay: 0
                  status: 200
                  headers:
                  - key: Content-Type
                    value: application/json;charset=utf-8
                  body: "{\n  \"status\": \"Awesome!\"\n}"
                  templated: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: getV2EndpointsByEndpointRulesByRuleId
      x-operation-id-source: derived
    put:
      summary: Update a rule (full replacement)
      description: 'Performs a **complete replacement** of an existing mock rule. All fields must be provided

        in the request body, as this is not a partial update.


        **How It Works:**

        1. **Full Replacement**: The entire rule object is replaced with the new configuration

        2. **ID Preservation**: The rule ID remains unchanged (specified in the URL path)

        3. **Position Preservation**: The rule maintains its position in the execution order

        4. **Validation**: The new rule configuration is validated before replacement


        **Limitations:**

        - Cannot move the rule to a different position (use reorder endpoint)

        - All validation rules apply (same as rule creation)

        - Partial updates not supported (use PATCH for partial updates)


        **Use Cases:**

        - Update response templates based on external data

        - Modify conditions to match new API contracts

        - Change action types (e.g., mock → callout)

        - Update weighted response probabilities


        **Response:**

        Returns the updated rule with all fields.'
      tags:
      - Mock Rules
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/EndpointName'
      - in: path
        name: ruleId
        required: true
        schema:
          type: string
        description: The unique identifier of the rule to update.
        example: vshn31wteh
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Rule'
      responses:
        '200':
          description: Rule updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleWithId'
              example:
                id: vshn31wteh
                enabled: true
                method: GET
                description: my simple rule
                conditions:
                - type: path
                  operator: equals
                  value: /simple-rule
                action:
                  type: mock
                  delay: 0
                  status: 200
                  headers:
                  - key: Content-Type
                    value: application/json;charset=utf-8
                  body: "{\n  \"status\": \"Awesome!\"\n}"
                  templated: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: putV2EndpointsByEndpointRulesByRuleId
      x-operation-id-source: derived
    patch:
      summary: Update a rule (partial)
      description: 'Performs a **partial update** of an existing mock rule. Only the fields provided in the

        request body are modified; all other fields remain unchanged.


        **Purpose:**

        - Update specific rule fields without affecting others

        - Toggle rule enabled/disabled status

        - Modify individual conditions or actions

        - Update rule descriptions


        **How It Works:**

        1. **Partial Update**: Only specified fields are updated

        2. **Field Merging**: Provided fields overwrite existing values; omitted fields remain unchanged

        3. **ID Preservation**: The rule ID cannot be changed

        4. **Position Preservation**: The rule maintains its position in the execution order

        5. **Validation**: Updated fields are validated before applying changes


        **Supported Partial Updates:**

        - `enabled`: Toggle rule on/off without changing conditions or actions

        - `description`: Update the human-readable label

        - `method`: Change the HTTP method filter

        - `conditions`: Replace the entire conditions array

        - `action`: Replace the entire action object


        **Important Notes:**

        - Complex fields like `conditions` and `action` are replaced entirely (not merged)

        - To update a single condition, you must provide the complete `conditions` array

        - To update action properties, you must provide the complete `action` object

        - Partial updates within nested objects are not supported


        **Common Use Cases:**


        **Example 1: Toggle Rule Status**

        ```json

        {

        "enabled": false

        }

        ```

        Disables the rule without modifying conditions or actions.


        **Example 2: Update Description**

        ```json

        {

        "description": "Updated rule description"

        }

        ```

        Changes only the rule''s label.


        **Example 3: Change HTTP Method**

        ```json

        {

        "method": "POST"

        }

        ```

        Updates the method filter while preserving conditions and actions.


        **Limitations:**

        - Cannot move the rule to a different position

        - Nested object merging not supported (entire objects must be replaced)

        - All validation rules apply to updated fields


        **Response:**

        Returns the complete updated rule with all fields (including unchanged ones).'
      tags:
      - Mock Rules
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/EndpointName'
      - in: path
        name: ruleId
        required: true
        schema:
          type: string
        description: The unique identifier of the rule to update.
        example: vshn31wteh
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Rule'
      responses:
        '200':
          description: Rule updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleWithId'
              example:
                id: vshn31wteh
                enabled: true
                method: GET
                description: my simple rule
                conditions:
                - type: path
                  operator: equals
                  value: /simple-rule
                action:
                  type: mock
                  delay: 0
                  status: 200
                  headers:
                  - key: Content-Type
                    value: application/json;charset=utf-8
                  body: "{\n  \"status\": \"Awesome!\"\n}"
                  templated: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: patchV2EndpointsByEndpointRulesByRuleId
      x-operation-id-source: derived
    delete:
      summary: Delete a rule
      description: 'Permanently deletes a specific mock rule by its unique identifier. This operation cannot be undone.


        **Purpose:**

        - Clean up unused mock configurations

        - Programmatically manage rule lifecycle


        **How It Works:**

        1. **Rule Removal**: The rule is removed from the endpoint''s rule array

        2. **Order Adjustment**: Remaining rules maintain their relative order

        3. **Priority Shift**: Rules below the deleted rule move up in priority

        4. **Real-time Updates**: Connected dashboard clients are notified.


        **Limitations:**

        - Operation is irreversible.

        - Deleted rules cannot be recovered unless backed up externally

        - Does not affect other endpoint settings or rules


        **Best Practices:**

        - Backup the rule before deletion (use GET /rules/{ruleId})

        - Consider disabling the rule first to test impact before permanent deletion

        - Verify the rule ID before executing this operation

        - Review remaining rules to ensure correct execution order after deletion


        **Use Cases:**

        - Remove temporary test rules after testing

        - Clean up rules after API contract changes

        - Delete duplicate or conflicting rules

        - Programmatic rule lifecycle management in CI/CD pipelines


        **Response:**

        Returns the deleted rule ID and a success flag.'
      tags:
      - Mock Rules
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/EndpointName'
      - in: path
        name: ruleId
        required: true
        schema:
          type: string
        description: The unique identifier of the rule to delete.
        example: vshn31wteh
      responses:
        '200':
          description: Rule deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  deleted:
                    type: boolean
              example:
                id: vshn31wteh
                deleted: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: deleteV2EndpointsByEndpointRulesByRuleId
      x-operation-id-source: derived
  /v2/endpoints/{endpoint}/blobs:
    post:
      summary: Upload a blob file
      description: 'Uploads a binary file (e.g., image, JSON, PDF) to Beeceptor''s storage.

        Returns a `blobPath` which can be used in a `MockAction` to serve this file

        as a response. Blobs are automatically managed and deleted by the system.'
      tags:
      - Mock Rules
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/EndpointName'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The file to upload.
      responses:
        '201':
          description: Blob uploaded successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  blobPath:
                    type: string
                    description: The identifier for the uploaded blob (e.g., res-body-20260120062822-u70ynu7gyy.yml).
              example:
                blobPath: res-body-20260121042538-e53mertosm.json
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
          description: Internal server error - failed to upload blob.
      operationId: postV2EndpointsByEndpointBlobs
      x-operation-id-source: derived
components:
  schemas:
    WeightedResponse:
      type: object
      properties:
        name:
          type: string
          description: A label for identifying this response in logs.
          example: Success Response
        weight:
          type: number
          description: Percentage probability (0-100). Total must sum to 100 per action.
          example: 80
        delay:
          type: number
          example: 0
        status:
          type: number
          minimum: 100
          maximum: 599
          example: 200
        headers:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
                example: Content-Type
              value:
                type: string
                example: application/json
              templated:
                type: boolean
                example: false
        body:
          type: string
          example: '{"status": "ok"}'
        templated:
          type: boolean
          example: false
      required:
      - name
      - weight
      - status
      - headers
      - body
    Rule:
      type: object
      description: 'A Rule defines the behavior for an incoming request. It consists of a set of conditions

        and a resulting action. Beeceptor matches requests against rules in the order they are defined.

        '
      required:
      - enabled
      - conditions
      - action
      properties:
        enabled:
          type: boolean
          description: Toggle rule on/off. Disabled rules are ignored during matching.
          example: true
        method:
          type: string
          enum:
          - GET
          - POST
          - PUT
          - PATCH
          - DELETE
          - OPTIONS
          - TRACE
          - '*'
          description: 'The HTTP method to match. Use ''*'' to match any method.

            Note: For CRUD and gRPC rules, this is typically set to ''*''.

            '
          example: POST
        description:
          type: string
          description: Optional human-readable description for managing rules.
          example: My simple mock rule
        conditions:
          type: array
          minItems: 1
          maxItems: 5
          items:
            $ref: '#/components/schemas/Condition'
          description: 'An array of conditions that must all match (AND logic) for the rule to trigger.

            Rules are evaluated in order; the first fully matched rule executes.

            '
        action:
          description: The action to perform (e.g., Mock, Proxy, CRUD) when conditions match.
          allOf:
          - $ref: '#/components/schemas/Action'
    MockAction:
      type: object
      description: Returns a predefined HTTP response to the caller.
      properties:
        type:
          type: string
          enum:
          - mock
          example: mock
        delay:
          type: number
          description: Response delay in milliseconds (0-600,000).
          minimum: 0
          maximum: 600000
          example: 200
        status:
          type: number
          description: HTTP status code to return.
          minimum: 100
          maximum: 599
          example: 200
        headers:
          type: array
          description: Custom HTTP headers to include in the response.
          items:
            type: object
            properties:
              key:
                type: string
                example: Content-Type
              value:
                type: string
                example: application/json
              templated:
                type: boolean
                description: Enable template engine for this header value.
                example: false
        templated:
          type: boolean
          description: "If enabled, Beeceptor processes the body using its powerful template engine, \nallowing for dynamic response generation and data injection.\n"
          example: true
      oneOf:
      - title: BodyResponse
        required:
        - body
        properties:
          body:
            type: string
            description: 'The response body. Can include Handlebars templates if ''templated'' is true.

              Use this to generate dynamic data like ''{{faker "person.firstName"}}''.

              '
            example: '{"status": "success", "user": "{{faker \"person.firstName\"}}"}'
      - title: BlobPathResponse
        required:
        - blobPath
        properties:
          blobPath:
            type: string
            description: 'Reference to a file stored in Beeceptor''s storage.

              Use the `POST /v2/endpoints/{endpoint}/blobs` API to upload files

              and retrieve this path.

              '
            example: res-body-20260121042538-e53mertosm.json
      required:
      - type
      - status
      - headers
    CalloutAction:
      type: object
      description: 'Triggers an external HTTP request (Callout) when the rule matches.

        This is useful for proxying traffic, transforming payloads, or notifying webhooks.

        '
      properties:
        type:
          type: string
          enum:
          - callout
          example: callout
        behavior:
          type: string
          enum:
          - sync
          - async
          description: "'sync': The original request waits for the target service's response (Proxy behavior).\n'async': Beeceptor sends an immediate response to the client and triggers \nthe callout as a background process (Webhook behavior).\n"
          example: sync
        callout:
          type: object
          description: Detailed configuration for the outgoing request.
          properties:
            url:
              type: string
              description: The destination URL (Target) for the callout.
              example: https://echo.beeceptor.com
            method:
              type: string
              enum:
              - GET
              - POST
              - PUT
              - PATCH
              - DELETE
              - OPTIONS
              - TRACE
              - '*'
              example: POST
            transform:
              type: string
              enum:
              - forward
              - custom
              description: '''forward'': Pass the target''s response back to the client as-is.

                ''custom'': Return a pre-defined mock response to the client instead of the target''s response.

                '
              example: forward
            headers:
              type: array
              items:
                type: object
                properties:
                  key:
                    type: string
                    example: X-Forwarded-For
                  value:
                    type: string
                    example: beeceptor
                  templated:
                    type: boolean
                    example: false
            body:
              type: string
              example: '{"action": "proxy"}'
            templated:
              type: boolean
              example: false
            connectionId:
              type: string
              description: 'Reference ID of an API Connection (configured in Beeceptor) to handle

                OAuth 2.0 or other authentication methods automatically.

                '
              example: conn_12345
            delay:
              type: object
              properties:
                min:
                  type: number
                  example: 100
                max:
                  type: number
                  example: 500
        status:
          type: number
          description: HTTP status for the immediate mock response (async behavior only).
          minimum: 100
          maximum: 599
          example: 202
        headers:
          type: array
          description: HTTP headers for the immediate mock response (async behavior only).
          items:
            type: object
            properties:
              key:
                type: string
                example: Content-Type
              value:
                type: string
                example: application/json
              templated:
                type: boolean
                example: false
        body:
          type: string
          description: HTTP body for the immediate mock response (async behavior only).
          example: '{"status": "accepted"}'
        templated:
          type: boolean
          example: false
      required:
      - type
      - behavior
      - callout
    BaseCondition:
      type: object
      required:
      - type
      properties:
        type:
          type: string
    RuleWithId:
      description: 'A Rule object that includes a unique identifier, typically returned in responses.

        '
      allOf:
      - $ref: '#/components/schemas/Rule'
      - type: object
        required:
        - id
        properties:
          id:
            type: string
            description: The unique identifier for the rule.
    CrudAction:
      type: object
      description: 'Enables stateful CRUD behavior for a resource path. Beeceptor will automatically

        handle POST (Create), GET (Read), PUT (Update), and DELETE operations for JSON objects.

        '
      properties:
        type:
          type: string
          enum:
          - crud
          example: crud
        idField:
          type: string
          description: The field name in the JSON object used as a unique identifier (e.g., 'id' or 'uuid').
          example: id
      required:
      - type
      - idField
    BodyCondition:
      description: Performs a search or pattern match against the raw HTTP request body.
      allOf:
      - $ref: '#/components/schemas/BaseCondition'
      - type: object
        properties:
          type:
            type: string
            enum:
            - body
            example: body
          operator:
            type: string
            enum:
            - contains
            - regex
            description: Matching operator for the raw body content.
            example: contains
          value:
            type: string
            description: The text or regex pattern to look for in the body.
            example: username
        required:
        - operator
        - value
    StateCondition:
      description: 'Matches against persistent state variables (Counters, Data Stores, or Lists)

        stored in your endpoint. This allows for stateful mock transitions.

        '
      allOf:
      - $ref: '#/components/schemas/BaseCondition'
      - type: object
        properties:
          type:
            type: string
            enum:
            - state
            example: state
          key:
            type: string
            description: The name of the state variable.
            example: login_attempts
          stateType:
            type: string
            enum:
            - string
            - counter
            - list
            description: '''string'': General key-value store.

              ''counter'': Numeric value supporting math operations.

              ''list'': Collection of values supporting LIFO/FIFO operations.

              '
            example: counter
          operator:
            type: string
            enum:
            - equals
            - not_equals
            - contains
            - not_contains
            - greater_than
            - less_than
            - greater_than_equal
            - less_than_equal
            example: greater_than
          value:
            type: string
            description: The value to compare the current state against.
            example: '3'
        required:
        - key
        - stateType
        - operator
        - value
    GraphQLCondition:
      description: "Matches against incoming GraphQL queries. Beeceptor parses the GraphQL operation \nname or query structure to determine a match.\n"
      allOf:
      - $ref: '#/components/schemas/BaseCondition'
      - type: object
        properties:
          type:
            type: string
            enum:
            - graphql
            example: graphql
          operator:
            type: string
            enum:
            - equals
            - contains
            - regex
            example: equals
          value:
            type: string
            description: The GraphQL operation name or query snippet to match.
            example: GetUserEmail
        required:
        - operator
        - value
    PathCondition:
      allOf:
      - $ref: '#/components/schemas/BaseCondition'
      - type: object
        properties:
          type:
            type: string
            enum:
            - path
            example: path
          operator:
            type: string
            enum:
            - equals
            - starts_with
            - contains
            - regex
            - template
            description: "Matching operator. 'template' allows Express.js-style path syntax \n(e.g., /users/:id) to capture variables.\n"
            example: equals
          value:
            type: string
            description: The path string or pattern to match against.
            example: /api/login
        required:
        - operator
        - value
    GrpcAction:
      type: object
      description: Defines the mock behavior for gRPC calls, supporting unary and streaming communication.
      properties:
        type:
          type: string
          enum:
          - grpc
          example: grpc
        callType:
          type: string
          enum:
          - unary
          - server_streaming
          - client_streaming
          - bidirectional_streaming
          description: gRPC communication pattern.
          example: unary
        status:
          type: number
          minimum: 0
          description: Standard gRPC status code (0 for OK, 1-16 for errors).
          example: 0
        statusMessage:
          type: string
          description: Human-readable status message for gRPC errors, only applicable for non-zero status codes.
          example: something went wrong
        delay:
          type: number
          minimum: 0
          maximum: 600000
          description: Delay before sending the first response in milliseconds.
          example: 0
        responses:
          type: array
          minItems: 1
          maxItems: 4
          description: 'A list of responses to send back. For streaming calls, these are sent sequentially.

            If ''singleResponseRepeated'' is true, only the first response is used for all streams.

            '
          items:
            $ref: '#/components/schemas/GrpcResponse'
        streamCount:
          type: object
          description: "For server_streaming or bidirectional patterns, controls how many times \nthe server will push messages before finishing.\n"
          properties:
            min:
              type: number
              minimum: 1
              description: Minimum number of stream messages to send.
              example: 1
            max:
              type: number
              minimum: 1
              description: Maximum number of stream messages to send.
              example: 5
        singleResponseRepeated:
          type: boolean
          description: "If true, the server repeats the first response item for the entire duration \nof the stream. If false, you must provide a list of unique responses.\n"
          example: true
      required:
      - type
      - callType
      - responses
    GrpcResponse:
      type: object
      properties:
        body:
          type: string
          example: '{"message": "Hello from Beeceptor"}'
        metadata:
          type: string
          example: '{"some-key": "some-value"}'
    WeightedAction:
      type: object
      description: 'Distributes incoming requests across multiple responses based on assigned weights.

        The combined weights of all responses must equal exactly 100.

        '
      properties:
        type:
          type: string
          enum:
          - weighted
          example: weighted
        responses:
          type: array
          description: A list of potential responses and their probability weights.
          items:
            $ref: '#/components/schemas/WeightedResponse'
      required:
      - type
      - responses
    Action:
      oneOf:
      - $ref: '#/components/schemas/MockAction'
      - $ref: '#/components/schemas/WeightedAction'
      - $ref: '#/components/schemas/CalloutAction'
      - $ref: '#/components/schemas/CrudAction'
      - $ref: '#/components/schemas/GrpcAction'
      discriminator:
        propertyName: type
        mapping:
          mock: '#/components/schemas/MockAction'
          weighted: '#/components/schemas/WeightedAction'
          callout: '#/components/schemas/CalloutAction'
          crud: '#/components/schemas/CrudAction'
          grpc: '#/components/schemas/GrpcAction'
    Error:
      type: object
      description: Standard error response structure.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              enum:
              - validation_error
              - not_found
              - unauthorized_api_key
              - missing_authentication
              - internal_error
              example: validation_error
            message:
              type: string
              example: Request validation failed
            details:
              type: array
              items:
                type: object
                properties:
                  path:
                    type: string
                    example: /rules[0]/action/status
                  message:
                    type: string
                    example: must be greater than or equal to 100
                  received:
                    type: string
                    example: '50'
    BodyParamCondition:
      description: "Matches against parsed body parameters. This is applicable for JSON payloads, \nXML, or Form-Data where Beeceptor can extract named fields.\n"
      allOf:
      - $ref: '#/components/schemas/BaseCondition'
      - type: object
        properties:
          type:
            type: string
            enum:
            - body_param
            example: body_param
          key:
            type: string
            description: The key or path to the field in the request body (e.g., 'user.id').
            example: user.email
          operator:
            type: string
            enum:
            - equals
            - not_equals
            - contains
            - not_contains
            - is_null
            - is_not_null
            example: equals
          value:
            type: string
            description: The value to compare against. Not required for 'is_null' or 'is_not_null'.
            example: test@example.com
        required:
        - key
        - operator
        - value
    SoapActionCondition:
      description: Targets SOAP-based web services by matching against the 'SOAPAction' header.
      allOf:
      - $ref: '#/components/schemas/BaseCondition'
      - type: object
        properties:
          type:
            type: string
            enum:
            - soap_action
            example: soap_action
          operator:
            type: string
            enum:
            - equals
            example: equals
          value:
            type: string
            description: The exact SOAPAction URI or string to match.
            example: http://www.example.org/GetUser
        required:
        - operator
        - value
    GrpcMethodCondition:
      description: "Primary condition for gRPC rules. Matches the full gRPC method path \n(e.g., 'package.Service/MethodName').\n"
      allOf:
      - $ref: '#/components/schemas/BaseCondition'
      - type: object
        properties:
          type:
            type: string
            enum:
            - grpc_method
            example: grpc_method
          value:
            type: string
            description: The fully qualified gRPC method name.
            example: user.UserService/GetUser
        required:
        - value
    HeaderCondition:
      description: Inspects the value of a specific HTTP header in the incoming request.
      allOf:
      - $ref: '#/components/schemas/BaseCondition'
      - type: object
        properties:
          type:
            type: string
            enum:
            - header
            example: header
          key:
            type: string
            description: The name of the HTTP header (e.g., 'User-Agent', 'X-Custom-Header').
            example: Content-Type
          operator:
            type: string
            enum:
            - equals
            - contains
            - regex
            description: Matching operator for the header value.
            example: equals
          value:
            type: string
            description: The expected string, substring, or regular expression pattern.
            example: application/json
        required:
        - key
        - operator
        - value
    Condition:
      oneOf:
      - $ref: '#/components/schemas/PathCondition'
      - $ref: '#/components/schemas/HeaderCondition'
      - $ref: '#/components/schemas/BodyCondition'
      - $ref: '#/components/schemas/BodyParamCondition'
      - $ref: '#/components/schemas/StateCondition'
      - $ref: '#/components/schemas/GraphQLCondition'
      - $ref: '#/components/schemas/SoapActionCondition'
      - $ref: '#/components/schemas/GrpcMethodCondition'
      discriminator:
        propertyName: type
        mapping:
          path: '#/components/schemas/PathCondition'
          header: '#/components/schemas/HeaderCondition'
          body: '#/components/schemas/BodyCondition'
          body_param: '#/components/schemas/BodyParamCondition'
          state: '#/components/schemas/StateCondition'
          graphql: '#/components/schemas/GraphQLCondition'
          soap_action: '#/components/schemas/SoapActionCondition'
          grpc_method: '#/components/schemas/GrpcMethodCondition'
  responses:
    InternalError:
      description: Internal Server Error - An unexpected error occurred.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthenticated - API key is missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Not Found - The requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Bad Request - Payload validation failed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Unauthorized - You don't have access to this endpoint.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    EndpointName:
      name: endpoint
      description: The name of Beeceptor endpoint. E.g., you should pick `my-endpoint` from your mock server base URL `https://my-endpoint.proxy.beeceptor.com`)
      in: path
      required: true
      schema:
        type: string
        default: '{{endpoint}}'
      example: order-service
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
