openapi: 3.2.0
info:
  title: Beeceptor State Store API
  description: This documentation describes the **Beeceptor Mock Server Management APIs**.
  version: 2.0.0
  x-release-status: testing
  x-internal: true
servers:
- url: https://api.beeceptor.com/api
  description: Production API Server
tags:
- name: State Store
paths:
  /v2/endpoints/{endpoint}/state:
    get:
      summary: Get all state variables
      description: 'Retrieves a list of all persistent state variables (Counters, Lists, Data Store keys)

        defined for this endpoint.'
      tags:
      - State Store
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/EndpointName'
      - in: query
        name: limit
        schema:
          type: integer
        example: 50
      - in: query
        name: offset
        schema:
          type: integer
        example: 0
      - in: query
        name: type
        schema:
          type: string
          enum:
          - string
          - counter
          - list
        example: list
      - in: query
        name: keyPrefix
        schema:
          type: string
        example: cart_
      responses:
        '200':
          description: List of state variables
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/StateItem'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                - type: String
                  key: someStore
                  value: someVal
                  lastModified: '2025-12-24T07:01:21.476Z'
                - type: List
                  key: someList
                  value:
                  - item1
                  - item2
                  - item3
                  lastModified: '2026-01-28T07:50:32.849Z'
                - type: Counter
                  key: someCounter
                  value: 5
                  lastModified: '2026-01-28T07:50:42.985Z'
                pagination:
                  total: 3
                  limit: 20
                  offset: 0
                  hasMore: false
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: getV2EndpointsByEndpointState
      x-operation-id-source: derived
    put:
      summary: Upsert state variables
      description: Bulk updates or creates state variables.
      tags:
      - State Store
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/EndpointName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/StateItem'
      responses:
        '200':
          description: State items upserted
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: integer
                  updated:
                    type: integer
              example:
                created: 2
                updated: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      operationId: putV2EndpointsByEndpointState
      x-operation-id-source: derived
    delete:
      summary: Delete state items
      description: Remove specified state variables by their keys.
      tags:
      - State Store
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/EndpointName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                properties:
                  all:
                    type: boolean
              - type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        key:
                          type: string
      responses:
        '200':
          description: State items deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
                  count:
                    type: integer
              example:
                deleted: true
                count: 3
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: deleteV2EndpointsByEndpointState
      x-operation-id-source: derived
  /v2/endpoints/{endpoint}/state/{type}/{key}:
    get:
      summary: Get a single state item
      description: Retrieve the value of a specific state item.
      tags:
      - State Store
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/EndpointName'
      - in: path
        name: type
        required: true
        schema:
          type: string
          enum:
          - string
          - counter
          - list
        example: list
      - in: path
        name: key
        required: true
        schema:
          type: string
        example: cart_items
      responses:
        '200':
          description: State item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StateItem'
              example:
                type: List
                key: someList
                value:
                - item1
                - item2
                - item3
                lastModified: '2026-01-28T07:50:32.849Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: getV2EndpointsByEndpointStateByTypeByKey
      x-operation-id-source: derived
    delete:
      summary: Delete a single state item
      description: Delete a specific state item.
      tags:
      - State Store
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/EndpointName'
      - in: path
        name: type
        required: true
        schema:
          type: string
        example: list
      - in: path
        name: key
        required: true
        schema:
          type: string
        example: cart_items
      responses:
        '200':
          description: State item deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  key:
                    type: string
                  deleted:
                    type: boolean
              example:
                key: someList
                deleted: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: deleteV2EndpointsByEndpointStateByTypeByKey
      x-operation-id-source: derived
components:
  responses:
    InternalError:
      description: Internal Server Error - An unexpected error occurred.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthenticated - API key is missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Unauthorized - You don't have access to this endpoint.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Not Found - The requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Bad Request - Payload validation failed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    StateItem:
      type: object
      description: A single entry in the endpoint's persistent state store.
      properties:
        type:
          type: string
          enum:
          - string
          - counter
          - list
          example: list
        key:
          type: string
          description: The name/identifier of the state variable.
          example: cart_items
        value:
          oneOf:
          - type: string
          - type: array
          - type: integer
            minimum: 0
          description: The current value. For lists, this is an array; for strings, this is a string; for counters, this is a non-negative integer.
          example:
          - item_1
          - item_2
        lastModified:
          type: number
          description: Timestamp of the last time the state item was accessed.
          example: 1738054800000
    Pagination:
      type: object
      description: Standard pagination metadata for list responses.
      properties:
        total:
          type: number
          description: Total number of items available across all pages.
          example: 150
        limit:
          type: number
          description: Maximum number of items requested per page.
          example: 20
        offset:
          type: number
          description: Number of items skipped from the beginning.
          example: 0
        hasMore:
          type: boolean
          description: Indicates if another page of data is available.
          example: true
    Error:
      type: object
      description: Standard error response structure.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              enum:
              - validation_error
              - not_found
              - unauthorized_api_key
              - missing_authentication
              - internal_error
              example: validation_error
            message:
              type: string
              example: Request validation failed
            details:
              type: array
              items:
                type: object
                properties:
                  path:
                    type: string
                    example: /rules[0]/action/status
                  message:
                    type: string
                    example: must be greater than or equal to 100
                  received:
                    type: string
                    example: '50'
  parameters:
    EndpointName:
      name: endpoint
      description: The name of Beeceptor endpoint. E.g., you should pick `my-endpoint` from your mock server base URL `https://my-endpoint.proxy.beeceptor.com`)
      in: path
      required: true
      schema:
        type: string
        default: '{{endpoint}}'
      example: order-service
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
